.projet-area{
    padding: 40px 0;

    h1{
        font-size: 40px;
        position: relative;
        text-align: center;
        padding: 10px 0;


        &:before{
                content: '';
                display: block;
                position: absolute;
                width: 150px;
                height: 2px;
                background-color: rgb(67, 202, 13);
                top: 100%;
                left: 590px;
        }
    }
    .pp{
        font-size: 15px;
        width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 60px;
    }
    .projet{
        display: grid;
        grid-template-columns: auto auto auto;
    
    }
 }