@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body{
    font-size:14px;
    line-height: 22px;
    
    font-family: 'Poppins', sans-serif;
}

$heading: (h1, 40px, 48px, 700),(h2, 32px, 38px, 700),(h3, 28px, 32px, 600),(h4, 24px, 28px, 500),(h5, 14px, 22px, 400),(p, 14px, 22px, 400);


@each $title, $font_size,$line_height,$font_weight in $heading {
    
    #{$title}{
        font-size:$font_size;
        line-height: $line_height;
        font-weight: $font_weight;

    }
}
$text_align : left, right, center, justify;
@each $i in $text_align {
    .text-#{$i}{
        text-align: $i;
    }
    
}